$main-color: #000000;
$back-color: #77847f;
$back-color: #609fcf;

@import "./layout/media.scss";
@import "./layout/base.scss";
@import "./blocks/*.scss";

// @import "./blocks/_header.scss";
// @import "./blocks/_menu.scss";
// @import "./blocks/_nav.scss";
